[submodule "AI-Task-Manager-API"]
	path = AI-Task-Manager-API
	url = git@github.com:Caio-Viana27/AI-Task-Manager-API.git
[submodule "AI-Task-Manager-UI"]
	path = AI-Task-Manager-UI
	url = git@github.com:Caio-Viana27/AI-Task-Manager-UI.git
